.select2-container {
    caja de tamaño : frontera-box ;
    pantalla : bloque en línea ;
    margen : 0 ;
    posición : relativa ;
    alineación vertical : medio ; }
    .select2-container  .select2-selection - single {
      caja de tamaño : frontera-box ;
      cursor : puntero ;
      pantalla : bloque ;
      altura : 28 px ;
      selección de usuario : ninguna ;
      -webkit-user-select : none ; }
      .select2-container  .select2-selection - single  .select2-selection__rendered {
        pantalla : bloque ;
        relleno izquierdo : 8 px ;
        derecho de relleno : 20 px ;
        desbordamiento : oculto ;
        desbordamiento de texto : puntos suspensivos ;
        espacio en blanco : nowrap ; }
      .select2-container  .select2-selection - single  .select2-selection__clear {
        posición : relativa ; }
    .select2-container [ dir = " rtl " ] .select2-selection - single  .select2-selection__rendered {
      derecho de relleno : 8 px ;
      relleno izquierdo : 20 px ; }
    .select2-container  .select2-selection - multiple {
      caja de tamaño : frontera-box ;
      cursor : puntero ;
      pantalla : bloque ;
      min-altura : 32 px ;
      selección de usuario : ninguna ;
      -webkit-user-select : none ; }
      .select2-container  .select2-selection - multiple  .select2-selection__rendered {
        pantalla : bloque en línea ;
        desbordamiento : oculto ;
        relleno izquierdo : 8 px ;
        desbordamiento de texto : puntos suspensivos ;
        espacio en blanco : nowrap ; }
    .select2-container  .select2-search - inline {
      flotar : izquierda ; }
      .select2-container  .select2-search - en línea  .select2-search__field {
        caja de tamaño : frontera-box ;
        frontera : ninguna ;
        tamaño de letra : 100 % ;
        margen superior : 5 px ;
        relleno : 0 ; }
        .select2-container  .select2-search - en línea  .select2-search__field :: - webkit-search-cancel-button {
          -webkit-apariencia : ninguno ; }
  
  .select2-dropdown {
    color de fondo : blanco ;
    borde : 1 px  sólido  #aaa ;
    radio del borde : 4 px ;
    caja de tamaño : frontera-box ;
    pantalla : bloque ;
    posición : absoluta ;
    izquierda : -100000 px ;
    ancho : 100 % ;
    índice z : 1051 ; }
  
  .select2-results {
    pantalla : bloque ; }
  
  .select2-results__options {
    estilo de lista : ninguno ;
    margen : 0 ;
    relleno : 0 ; }
  
  .select2-results__option {
    Relleno : 6 px ;
    selección de usuario : ninguna ;
    -webkit-user-select : none ; }
    .select2-results__option [ aria-selected ] {
      cursor : puntero ; }
  
  .select2-container - abrir  .select2-dropdown {
    izquierda : 0 ; }
  
  .select2-container - abrir  .select2-dropdown - arriba {
    borde inferior : ninguno ;
    borde inferior-izquierdo-radio : 0 ;
    borde inferior-derecho-radio : 0 ; }
  
  .select2-container - abrir  .select2-desplegable - debajo de {
    borde superior : ninguno ;
    borde superior-izquierdo-radio : 0 ;
    borde superior-derecho-radio : 0 ; }
  
  .select2-search - desplegable {
    pantalla : bloque ;
    relleno : 4 px ; }
    .select2-search - desplegable  .select2-search__field {
      relleno : 4 px ;
      ancho : 100 % ;
      caja de tamaño : frontera-box ; }
      .select2-search - dropdown  .select2-search__field :: - webkit-search-cancel-button {
        -webkit-apariencia : ninguno ; }
    .select2-search - dropdown.select2-search - hide {
      pantalla : ninguna ; }
  
  .select2-close-mask {
    borde : 0 ;
    margen : 0 ;
    relleno : 0 ;
    pantalla : bloque ;
    posición : fijo ;
    izquierda : 0 ;
    arriba : 0 ;
    min-altura : 100 % ;
    ancho mínimo : 100 % ;
    altura : auto ;
    ancho : auto ;
    opacidad : 0 ;
    índice z : 99 ;
    color de fondo : #fff ;
    filtro : alfa (opacidad = 0 ); }
  
  .select2-hidden-accesible {
    frontera : 0  ! importante ;
    clip : rect ( 0  0  0  0 ) ! importante ;
    altura : 1 px  ! importante ;
    margen : -1 px  ! importante ;
    desbordamiento : oculto  ! importante ;
    relleno : 0  ! importante ;
    posición : absoluta  ! importante ;
    ancho : 1 px  ! importante ; }
  
  .select2-container - por defecto  .select2-selection - single {
    color de fondo : #fff ;
    borde : 1 px  sólido  #aaa ;
    radio del borde : 4 px ; }
    .select2-container - por defecto  .select2-selection - único  .select2-selection__rendered {
      color : # 444 ;
      altura de línea : 28 px ; }
    .select2-container - por defecto  .select2-selection - único  .select2-selection__clear {
      cursor : puntero ;
      flotar : a la derecha ;
      font-weight : negrita ; }
    .select2-container - por defecto  .select2-selection - único  .select2-selection__placeholder {
      color : # 999 ; }
    .select2-container - por defecto  .select2-selection - único  .select2-selection__arrow {
      altura : 26 px ;
      posición : absoluta ;
      superior : 1 px ;
      derecha : 1 px ;
      ancho : 20 px ; }
      .select2-container - por defecto  .select2-selection - único  .select2-selection__arrow  b {
        color de borde : # 888  transparente  transparente  transparente ;
        estilo de borde : sólido ;
        ancho del borde : 5 px  4 px  0  4 px ;
        altura : 0 ;
        izquierda : 50 % ;
        margen izquierdo : -4 px ;
        margen superior : -2 px ;
        posición : absoluta ;
        superior : 50 % ;
        ancho : 0 ; }
  
  .select2-container - por defecto [ dir = " rtl " ] .select2-selection - single  .select2-selection__clear {
    flotar : izquierda ; }
  
  .select2-container - por defecto [ dir = " rtl " ] .select2-selection - single  .select2-selection__arrow {
    izquierda : 1 px ;
    derecha : auto ; }
  
  .select2-container - default.select2-container - deshabilitado  .select2-selection - single {
    color de fondo : #eee ;
    cursor : por defecto ; }
    .select2-container - default.select2-container - deshabilitado  .select2-selection - único  .select2-selection__clear {
      pantalla : ninguna ; }
  
  .select2-container - default.select2-container - abrir  .select2-selection - single  .select2-selection__arrow  b {
    color del borde : transparente  transparente  # 888  transparente ;
    ancho del borde : 0  4 px  5 px  4 px ; }
  
  .select2-container - por defecto  .select2-selection - multiple {
    color de fondo : blanco ;
    borde : 1 px  sólido  #aaa ;
    radio del borde : 4 px ;
    cursor : texto ; }
    .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__rendered {
      caja de tamaño : frontera-box ;
      estilo de lista : ninguno ;
      margen : 0 ;
      Relleno : 0  5 px ;
      ancho : 100 % ; }
      .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__rendered  li {
        estilo de lista : ninguno ; }
    .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__placeholder {
      color : # 999 ;
      margen superior : 5 px ;
      flotar : izquierda ; }
    .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__clear {
      cursor : puntero ;
      flotar : a la derecha ;
      font-weight : negrita ;
      margen superior : 5 px ;
      margen derecho : 10 px ; }
    .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__choice {
      color de fondo : # e4e4e4 ;
      borde : 1 px  sólido  #aaa ;
      radio del borde : 4 px ;
      cursor : por defecto ;
      flotar : izquierda ;
      margen derecho : 5 px ;
      margen superior : 5 px ;
      Relleno : 0  5 px ; }
    .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__choice__remove {
      color : # 999 ;
      cursor : puntero ;
      pantalla : bloque en línea ;
      font-weight : negrita ;
      margen derecho : 2 px ; }
      .select2-container - por defecto  .select2-selection - múltiple  .select2-selection__choice__remove : hover {
        color : # 333 ; }
  
  .select2-container - default [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice , .select2-container - default [ dir = " rtl " ] .select2-selection - multiple  .select2- selection__placeholder , .select2-container - por defecto [ dir = " rtl " ] .select2-selection - multiple  .select2-search - inline {
    flotar : a la derecha ; }
  
  .select2-container - por defecto [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice {
    margen izquierdo : 5 px ;
    margen derecho : auto ; }
  
  .select2-container - default [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice__remove {
    margen izquierdo : 2 px ;
    margen derecho : auto ; }
  
  .select2-container - default.select2-container - focus  .select2-selection - multiple {
    borde : negro sólido  1 px ; 
    esquema : 0 ; }
  
  .select2-container - default.select2-container - deshabilitado  .select2-selection - multiple {
    color de fondo : #eee ;
    cursor : por defecto ; }
  
  .select2-container - default.select2-container - deshabilitado  .select2-selection__choice__remove {
    pantalla : ninguna ; }
  
  .select2-container - default.select2-container - open.select2-container - arriba  .select2-selection - single , .select2-container - default.select2-container - open.select2-container - arriba  .select2-selection - multiple {
    borde superior-izquierdo-radio : 0 ;
    borde superior-derecho-radio : 0 ; }
  
  .select2-container - default.select2-container - open.select2-container - debajo de  .select2-selection - single , .select2-container - default.select2-container - open.select2-container - abajo  .select2-selection - multiple {
    borde inferior-izquierdo-radio : 0 ;
    borde inferior-derecho-radio : 0 ; }
  
  .select2-container - predeterminado  .select2-search - desplegable  .select2-search__field {
    borde : 1 px  sólido  #aaa ; }
  
  .select2-container - predeterminado  .select2-search - en línea  .select2-search__field {
    fondo : transparente ;
    frontera : ninguna ;
    esquema : 0 ;
    caja de sombra : ninguna ;
    -webkit-apariencia : campo de texto; }
  
  .select2-container - por defecto  .select2-results  >  .select2-results__options {
    Altura máxima : 200 px ;
    desbordamiento-y : auto ; }
  
  .select2-container - por defecto  .select2-results__option [ role = group ] {
    relleno : 0 ; }
  
  .select2-container - por defecto  .select2-results__option [ aria-disabled = true ] {
    color : # 999 ; }
  
  .select2-container - por defecto  .select2-results__option [ aria-selected = true ] {
    color de fondo : #ddd ; }
  
  .select2-container - por defecto  .select2-  results__option .select2-results__option {
    relleno-izquierda : 1 em ; }
    .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-results__group {
      relleno-izquierda : 0 ; }
    .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-results__option {
      margen izquierdo : -1 em ;
      relleno-izquierda : 2 em ; }
      .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-  results__option .select2-results__option {
        margen izquierdo : -2 em ;
        relleno-izquierda : 3 em ; }
        .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-results__option {
          margen izquierdo : -3 em ;
          relleno-izquierda : 4 em ; }
          .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-results__option {
            margen izquierdo : -4 em ;
            relleno-izquierda : 5 em ; }
            .select2-container - por defecto  .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-  results__option .select2-results__option {
              margen izquierdo : -5 em ;
              relleno-izquierda : 6 em ; }
  
  .select2-container - por defecto  .select2-results__option - resaltado [ aria-selected ] {
    color de fondo : # 5897fb ;
    color : blanco ; }
  
  .select2-container - predeterminado  .select2-results__group {
    cursor : por defecto ;
    pantalla : bloque ;
    Relleno : 6 px ; }
  
  .select2-container - classic  .select2-selection - single {
    color de fondo : # f7f7f7 ;
    borde : 1 px  sólido  #aaa ;
    radio del borde : 4 px ;
    esquema : 0 ;
    imagen de fondo : -webkit-linear-gradient ( superior , blanco  50 % , #eeeeee  100 % );
    imagen de fondo : -o-lineal-gradiente ( superior , blanco  50 % , #eeeeee  100 % );
    imagen de fondo : degradado lineal ( al  fondo , blanco  50 % , #eeeeee  100 % );
    repetición de fondo : repetir-x ;
    filter : progid: DXImageTransform.Microsoft.gradient (startColorstr = ' #FFFFFFFF ' , endColorstr = ' #FFEEEEEE ' , GradientType = 0 ); }
    .select2-container - classic  .select2-selection - single : focus {
      borde : 1 px  sólido  # 5897fb ; }
    .select2-container - clásico  .select2-selection - único  .select2-selection__rendered {
      color : # 444 ;
      altura de línea : 28 px ; }
    .select2-container - classic  .select2-selection - single  .select2-selection__clear {
      cursor : puntero ;
      flotar : a la derecha ;
      font-weight : negrita ;
      margen derecho : 10 px ; }
    .select2-container - clásico  .select2-selection - único  .select2-selection__placeholder {
      color : # 999 ; }
    .select2-container - classic  .select2-selection - single  .select2-selection__arrow {
      color de fondo : #ddd ;
      frontera : ninguna ;
      borde izquierdo : 1 px  sólido  #aaa ;
      borde superior-derecho-radio : 4 px ;
      borde inferior-derecho-radio : 4 px ;
      altura : 26 px ;
      posición : absoluta ;
      superior : 1 px ;
      derecha : 1 px ;
      ancho : 20 px ;
      imagen de fondo : -webkit-linear-gradient ( arriba , #eeeeee  50 % , #cccccc  100 % );
      imagen de fondo : -o-lineal-gradiente ( arriba , #eeeeee  50 % , #cccccc  100 % );
      imagen de fondo : degradado lineal ( al  final , #eeeeee  50 % , #cccccc  100 % );
      repetición de fondo : repetir-x ;
      filter : progid: DXImageTransform.Microsoft.gradient (startColorstr = ' #FFEEEEEE ' , endColorstr = ' #FFCCCCCC ' , GradientType = 0 ); }
      .select2-container -  selección  clásica .select2 - single .select2-selection__arrow  b {
        color de borde : # 888  transparente  transparente  transparente ;
        estilo de borde : sólido ;
        ancho del borde : 5 px  4 px  0  4 px ;
        altura : 0 ;
        izquierda : 50 % ;
        margen izquierdo : -4 px ;
        margen superior : -2 px ;
        posición : absoluta ;
        superior : 50 % ;
        ancho : 0 ; }
  
  .select2-container - classic [ dir = " rtl " ] .select2-selection - single  .select2-selection__clear {
    flotar : izquierda ; }
  
  .select2-container - classic [ dir = " rtl " ] .select2-selection - single  .select2-selection__arrow {
    frontera : ninguna ;
    borde derecho : 1 px  sólido  #aaa ;
    radio del borde : 0 ;
    borde superior-izquierdo-radio : 4 px ;
    borde inferior-izquierdo-radio : 4 px ;
    izquierda : 1 px ;
    derecha : auto ; }
  
  .select2-container - classic.select2-container - abrir  .select2-selection - single {
    borde : 1 px  sólido  # 5897fb ; }
    .select2-container - classic.select2-container - abrir  .select2-selection - single  .select2-selection__arrow {
      fondo : transparente ;
      frontera : ninguna ; }
      .select2-container - classic.select2-container - abrir  .select2-selection - single  .select2-selection__arrow  b {
        color del borde : transparente  transparente  # 888  transparente ;
        ancho del borde : 0  4 px  5 px  4 px ; }
  
  .select2-container - classic.select2-container - open.select2-container - arriba  .select2-selection - single {
    borde superior : ninguno ;
    borde superior-izquierdo-radio : 0 ;
    borde superior-derecho-radio : 0 ;
    imagen de fondo : -webkit-linear-gradient ( superior , blanco  0 % , #eeeeee  50 % );
    imagen de fondo : -o-lineal-gradiente ( superior , blanco  0 % , #eeeeee  50 % );
    imagen de fondo : degradado lineal ( hacia  abajo , blanco  0 % , #eeeeee  50 % );
    repetición de fondo : repetir-x ;
    filter : progid: DXImageTransform.Microsoft.gradient (startColorstr = ' #FFFFFFFF ' , endColorstr = ' #FFEEEEEE ' , GradientType = 0 ); }
  
  .select2-container - classic.select2-container - open.select2-container - debajo de  .select2-selection - single {
    borde inferior : ninguno ;
    borde inferior-izquierdo-radio : 0 ;
    borde inferior-derecho-radio : 0 ;
    imagen de fondo : -webkit-linear-gradient ( arriba , #eeeeee  50 % , blanco  100 % );
    imagen de fondo : -o-lineal-gradiente ( arriba , #eeeeee  50 % , blanco  100 % );
    imagen de fondo : degradado lineal ( hacia  abajo , #eeeeee  50 % , blanco  100 % );
    repetición de fondo : repetir-x ;
    filter : progid: DXImageTransform.Microsoft.gradient (startColorstr = ' #FFEEEEEE ' , endColorstr = ' #FFFFFFFF ' , GradientType = 0 ); }
  
  .select2-container - classic  .select2-selection - multiple {
    color de fondo : blanco ;
    borde : 1 px  sólido  #aaa ;
    radio del borde : 4 px ;
    cursor : texto ;
    esquema : 0 ; }
    .select2-container - classic  .select2-selection - multiple : focus {
      borde : 1 px  sólido  # 5897fb ; }
    .select2-container - clásico  .select2-selection - múltiple  .select2-selection__rendered {
      estilo de lista : ninguno ;
      margen : 0 ;
      Relleno : 0  5 px ; }
    .select2-container - clásico  .select2-selection - múltiple  .select2-selection__clear {
      pantalla : ninguna ; }
    .select2-container -  selección  clásica .select2 - selección múltiple .select2-selection__choice {
      color de fondo : # e4e4e4 ;
      borde : 1 px  sólido  #aaa ;
      radio del borde : 4 px ;
      cursor : por defecto ;
      flotar : izquierda ;
      margen derecho : 5 px ;
      margen superior : 5 px ;
      Relleno : 0  5 px ; }
    .select2-container - clásico  .select2-selection - múltiple  .select2-selection__choice__remove {
      color : # 888 ;
      cursor : puntero ;
      pantalla : bloque en línea ;
      font-weight : negrita ;
      margen derecho : 2 px ; }
      .select2-container - clásico  .select2-selection - múltiple  .select2-selection__choice__remove : hover {
        color : # 555 ; }
  
  .select2-container - classic [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice {
    flotar : a la derecha ; }
  
  .select2-container - classic [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice {
    margen izquierdo : 5 px ;
    margen derecho : auto ; }
  
  .select2-container - classic [ dir = " rtl " ] .select2-selection - multiple  .select2-selection__choice__remove {
    margen izquierdo : 2 px ;
    margen derecho : auto ; }
  
  .select2-container - classic.select2-container - abrir  .select2-selection - multiple {
    borde : 1 px  sólido  # 5897fb ; }
  
  .select2-container - classic.select2-container - open.select2-container - arriba  .select2-selection - multiple {
    borde superior : ninguno ;
    borde superior-izquierdo-radio : 0 ;
    borde superior-derecho-radio : 0 ; }
  
  .select2-container - classic.select2-container - open.select2-container - debajo de  .select2-selection - multiple {
    borde inferior : ninguno ;
    borde inferior-izquierdo-radio : 0 ;
    borde inferior-derecho-radio : 0 ; }
  
  .select2-container - clásico  .select2-search - desplegable  .select2-search__field {
    borde : 1 px  sólido  #aaa ;
    esquema : 0 ; }
  
  .select2-container - clásico  .select2-search - en línea  .select2-search__field {
    esquema : 0 ;
    caja de sombra : ninguna ; }
  
  .select2-container - classic  .select2-dropdown {
    color de fondo : blanco ;
    borde : 1 px  sólido  transparente ; }
  
  .select2-container - classic  .select2-dropdown - arriba {
    borde inferior : ninguno ; }
  
  .select2-container - classic  .select2-dropdown - abajo {
    borde superior : ninguno ; }
  
  .select2-container - clásico  .select2-results  >  .select2-results__options {
    Altura máxima : 200 px ;
    desbordamiento-y : auto ; }
  
  .select2-container - classic  .select2-results__option [ role = group ] {
    relleno : 0 ; }
  
  .select2-container - classic  .select2-results__option [ aria-disabled = true ] {
    color : gris ; }
  
  .select2-container - classic  .select2-results__option - resaltado [ aria-selected ] {
    color de fondo : # 3875d7 ;
    color : blanco ; }
  
  .select2-container - classic  .select2-results__group {
    cursor : por defecto ;
    pantalla : bloque ;
    Relleno : 6 px ; }
  
  .select2-container - classic.select2-container - abrir  .select2-dropdown {
    color de borde : # 5897fb ; }